<?php

 $title = '';
 include(TEMPLATE . '/header.html');

?>

<h1>Авторизация</h1>
<br><br>

<? if ($user->isAuth()): ?>
	Вы уже вошли на сайт!
<? endif; ?>

<br><br><br>

<? if (Helper\FlashText::hasByTypes(['danger', 'success'])) : ?>
	<? Helper\FlashText::render(); ?>
<? endif; ?>

<br>
<form action="" method="post">
	<input type="text" name="login" placeholder="Логин или E-mail" class="form-control"><br>
	<input type="password" name="password" placeholder="Пароль" class="form-control"><br>
	<input type="submit" class="btn btn-success" value="Войти"><br>
	<input type="hidden" name="CSRFToken" value="<?=Helper\CSRFTokenManager::create()->returnForForm()?>">
</form>

<br>

<?php
 include(TEMPLATE . '/footer.html');
?>