<?php

 $title = '';
 include(TEMPLATE . '/header.html');

?>

<h1>Регистрация</h1>
<br><br>

<? if (Helper\FlashText::hasByType('danger')) : ?>
	<? Helper\FlashText::render(); ?>
<? endif; ?>

<br>
<form action="" method="post">
	<input type="text" name="login" placeholder="Логин*" class="form-control"><br>
	<input type="text" name="email" placeholder="Email*" class="form-control"><br>
	<input type="password" name="password" placeholder="Пароль*" class="form-control"><br>
	<input type="submit" class="btn btn-success" value="Присоединиться"><br>
	<input type="hidden" name="CSRFToken" value="<?=Helper\CSRFTokenManager::create()->returnForForm()?>">
</form>

<br>

<?php
 include(TEMPLATE . '/footer.html');
?>